<div class="modal-body" id="modal-body">
    <p>
        <span>{{modalctrl.mensajes}}</span>
    </p>
    <div class="button-form">
        <button id="btnAceptar"
                name="btnAceptar"
                class="k-button k-primary"
                type="button"
                data-ng-click="modalctrl.aceptar()"
                data-translate>BTN.ACEPTAR
        </button>
        <button id="btnCancelar"
                name="btnCancelar"
                class="k-button k-primary"
                type="button"
                data-ng-click="modalctrl.cancelar()"
                data-translate>BTN.CANCELAR
        </button>
    </div>
</div>
