<div    data-ng-controller="GestorTipoParticipanteControlador as tipoParCtrl"
        data-ng-init="tipoParCtrl.init()"
        class="container">
<!--Seccion Encabezado -->
    <div class="page-header">
        <hgroup>
            <h1 data-translate>{{tipoParCtrl.lbl.pag.tip.titulo}}</h1>
            <h2 data-translate>{{tipoParCtrl.lbl.pag.tip.subtitulo}}</h2>
            <p> </p>
        </hgroup>
    </div>
<!--Seccion Notificaciones -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <uib-alert  id="idAlerta"
                        name="idAlerta"
                        data-ng-repeat="alert in tipoParCtrl.alerts| orderBy:'type'"
                        type="{{alert.type}}"
                        close="tipoParCtrl.cerrarAlerta($index)">
                <span data-translate>{{alert.msg}}</span>
            </uib-alert>
        </div>
    </div>
<!--Seccion Contenido -->
    <form   class="page form-horizontal"
            id="frmAdministrar"
            name="frmAdministrar"
            novalidate>
        <fieldset>
            <!--<legend>Formulario Área</legend>-->
            <h2 data-translate>{{tipoParCtrl.lbl.lbl.formulariotipoparticipante}}</h2>
            <p data-translate>{{tipoParCtrl.lbl.lbl.formularioinformativo}}</p>
            <div class="form-group">
                <label  id="lblTipo"
                        name="lblTipo"
                        for="lblTipo"
                        class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-xs-12">*
                    <span data-translate>{{tipoParCtrl.lbl.lbl.tipoparticipante}}</span>:
                </label>
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="input-group">
                        <input  id="txtTipoParticipante"
                                name="txtTipoParticipante"
                                type="text"
                                tabindex="1"
                                accesskey="u"
                                autofocus
                                maxlength="100"
                                class="k-textbox"
                                data-ng-model="tipoParCtrl.txtTipoParticipante"
                                data-ng-blur="tipoParCtrl.validar()"
                                placeholder="{{inicioCtrl.traducirTexto(tipoParCtrl.lbl.plh.tipoparticipante)}}"/>
                        <div class="input-group-addon informacion">
                            <i class="icon-informacion-importante icono-tamanio icono-celeste"
                               data-uib-tooltip="{{inicioCtrl.traducirTexto(tipoParCtrl.lbl.tol.tipoparticipante)}}"
                               data-tooltip-placement="top"
                               data-tooltip-class="mensaje-informacion"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  id="lblDescripcion"
                        name="lblDescripcion"
                        for="lblDescripcion"
                        class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-xs-12">*
                    <span data-translate>{{tipoParCtrl.lbl.lbl.descripcion}}</span>:
                </label>
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="input-group">
                        <textarea id="txtDescripcion"
                                name="txtDescripcion"
                                type="text"
                                tabindex="2"
                                class="k-textbox"
                                rows="6"
                                data-ng-model="tipoParCtrl.txtDescripcion"
                                data-ng-blur="tipoParCtrl.validar()"
                                placeholder="{{inicioCtrl.traducirTexto(tipoParCtrl.lbl.plh.descripcion)}}"/>
                        <div class="input-group-addon informacion">
                            <i class="icon-informacion-importante icono-tamanio icono-celeste"
                               data-uib-tooltip="{{inicioCtrl.traducirTexto(tipoParCtrl.lbl.tol.descripcion)}}"
                               data-tooltip-placement="top"
                               data-tooltip-class="mensaje-informacion"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  id="lblEstado"
                        name="lblEstado"
                        for="lblEstado"
                        class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-xs-12">*
                        <span data-translate>{{tipoParCtrl.lbl.lbl.estado}}</span>:
                </label>
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="input-group">
                        <select id="cmbEstado"
                                name="cmbEstado"
                                tabindex="3"
                                kendo-drop-down-list="dropdownlist"
                                k-option-label="'{{inicioCtrl.traducirTexto(tipoParCtrl.lbl.plh.estado)}}'"
                                k-options="tipoParCtrl.optionsEstado"
                                k-data-source="tipoParCtrl.cmbDsEstado"
                                data-ng-blur="tipoParCtrl.validar()"
                                k-ng-model="tipoParCtrl.cmbEstado"/>
                        <div class="input-group-addon informacion">
                            <i class="icon-informacion-importante icono-tamanio icono-celeste"
                               data-uib-tooltip="{{inicioCtrl.traducirTexto(tipoParCtrl.lbl.tol.estado)}}"
                               data-tooltip-placement="top"
                               data-tooltip-class="mensaje-informacion"></i>
                        </div>
                    </div>
                </div>
            </div>
<!--Seccion Botones -->
            <div class="button-form">
                <button id="btnAceptar"
                        name="btnAceptar"
                        tabindex="4"
                        class="k-button k-primary"
                        data-ng-model="tipoParCtrl.btnAceptar"
                        data-ng-disabled="tipoParCtrl.desBtnAceptar"
                        data-ng-click="tipoParCtrl.aceptar()"
                        data-translate>{{tipoParCtrl.boton1}}
                </button>
                <button id="btnLimpiar"
                        name="btnLimpiar"
                        tabindex="5"
                        class="k-button k-primary"
                        data-ng-click="tipoParCtrl.limpiarFiltro()"
                        data-translate>{{tipoParCtrl.boton2}}
                </button>
            </div>
        </fieldset>
    </form>
    <br>
<!--Seccion Tabla -->
    <div class="table-responsive">
        <table  id="tblAdministrar"
                name="tblAdministrar"
                class="table table-responsive table-bordered table-striped table-hover"
                data-datatable=""
                data-dt-options="tipoParCtrl.dtAdministrarOptions"
                data-dt-columns="tipoParCtrl.dtAdministrarColumns"
                data-dt-instance="tipoParCtrl.dtAdministrar">
            <thead class="cabecera-principal text-center"></thead>
        </table>
    </div>
</div>