<div 	data-ng-controller="RegistrarUsuarioControlador as regctrol"
        data-ng-init="regctrol.init()"
        class="container">
<!--Seccion encabezado -->
    <div class="page-header">
        <hgroup>
            <h1 data-translate>{{regctrol.lbl.pag.reg.titulo}}</h1>
            <h2 data-translate>{{regctrol.lbl.pag.reg.subtitulo}}</h2>
            <p> </p>
        </hgroup>
    </div>
<!--Seccion Notificaciones -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <uib-alert  id="idAlerta"
                        name="idAlerta"
                        data-ng-repeat="alert in regctrol.alerts| orderBy:'type'"
                        type="{{alert.type}}"
                        close="regctrol.cerrarAlertaIdx($index)">
                <span data-translate>{{alert.msg}}</span>
            </uib-alert>
        </div>
    </div>
<!--Seccion Contenido -->
    <form	class="form-horizontal"
			id="frmAdministrar"
			name="frmAdministrar"
			novalidate>
		<div class="form-group">
			<label	id="lblUsuario"
					name="lblUsuario"
					for="lblUsuario"
					class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-xs-12">*
				<span data-translate>{{regctrol.lbl.lbl.usuario}}</span>:
			</label>
			<div class="col-lg-5 col-md-6 col-xs-12">
				<input	id="txtUsuario"
						name="txtUsuario"
						type="text"
						tabindex="1"
						mixlength="5"
						maxlength="100"
						class="k-textbox"
						data-ng-model="regctrol.txtUsuario"
						data-ng-blur="regctrol.validar()"
						placeholder="{{inicioCtrl.traducirTexto(regctrol.lbl.plh.usuario)}}"/>
			</div>
		</div>
		<div class="form-group">
			<label	id="lblEmail"
					name="lblEmail"
					for="lblEmail"
					class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-xs-12">*
				<span data-translate>{{regctrol.lbl.lbl.email}}</span>:
			</label>
			<div class="col-lg-5 col-md-6 col-xs-12">
				<input	id="txtEmail"
						name="txtEmail"
						type="text"
						tabindex="2"
						mixlength="7"
						maxlength="100"
						data-validar-directiva="regctrol.expRegular2"
						data-valor-final="regctrol.expRegularFinal2"
						class="k-textbox"
						data-ng-model="regctrol.txtEmail"
						data-ng-blur="regctrol.validarEmail();regctrol.validar()"
						placeholder="{{inicioCtrl.traducirTexto(regctrol.lbl.plh.email)}}"/>
			</div>
			<div>
				<span 	class="mensaje-error-solido col-sm-12 col-xs-12"
						data-ng-show="regctrol.tooltipEmailRegistrado"
						data-translate>{{regctrol.lbl.lbl.emailregistrado}}
				</span>
				<span 	class="mensaje-error-solido col-sm-12 col-xs-12"
						data-ng-show="regctrol.tooltipEmailIncorrecto"
						data-translate>{{regctrol.lbl.lbl.emailincorrecto}}
				</span>
			</div>
		</div>
		<div class="form-group">
			<label 	id="lblClave"
					name="lblClave"
					for="lblClave"
					class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-xs-12">*
				<span data-translate>{{regctrol.lbl.lbl.clave}}</span>:
			</label>
			<div class="col-lg-5 col-md-6 col-xs-12">
				<input 	id="txtClave"
						name="txtClave"
						type="password"
						tabindex="3"
						maxlength="100"
						class="k-textbox"
						data-ng-model="regctrol.txtClave"
						data-ng-blur="regctrol.validar()"
						placeholder="{{inicioCtrl.traducirTexto(regctrol.lbl.plh.clave)}}"/>
			</div>
		</div>
		<div class="form-group">
			<label 	id="lblConfirmarClave"
					name="lblConfirmarClave"
					for="lblConfirmarClave"
					class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2 col-xs-12">*
				<span data-translate>{{regctrol.lbl.lbl.confirmarclave}}</span>:
			</label>
			<div class="col-lg-5 col-md-6 col-xs-12">
				<input 	id="txtConfirmarClave"
						name="txtConfirmarClave"
						type="password"
						tabindex="4"
						maxlength="100"
						class="k-textbox"
						data-ng-model="regctrol.txtConfirmarClave"
						data-ng-blur="regctrol.validar()"
						placeholder="{{inicioCtrl.traducirTexto(regctrol.lbl.plh.confirmarclave)}}"/>
			</div>
			<div>
				<span 	class="mensaje-error-solido col-sm-12 col-xs-12"
						data-ng-show="regctrol.tooltipClave"
						data-translate>{{regctrol.lbl.lbl.claveincorrecta}}
				</span>
			</div>
		</div>
<!--Seccion Botones -->
		<div class="button-form">
			<button id="btnAceptar"
					name="btnAceptar"
					tabindex="5"
					class="k-button k-primary"
					data-ng-model="regctrol.btnAceptar"
					data-ng-disabled="regctrol.desBtnAceptar"
					data-ng-click="regctrol.aceptar()"
					data-translate>{{regctrol.lbl.btn.registrar}}
			</button>
			<button id="btnLimpiar"
					name="btnLimpiar"
					tabindex="6"
					class="k-button k-primary"
					data-ng-click="regctrol.limpiarFiltro()"
					data-translate>{{regctrol.lbl.btn.limpiar}}
			</button>
		</div>
	</form>
</div>