<ul class="nav navbar-top-links navbar-right"
    data-ng-class="inicioCtrl.getClassResponsiveBar(model.isCollapsedBar)">
    <!-- Perfil-->
    <li  id="itemPerfil"
        tabindex="15">
        <a  href=""
            data-toggle="dropdown"
            data-ng-click="inicioCtrl.mostrarPerfilUsuario();inicioCtrl.colapsarBarra()"
            role="button"
            class="botonesMenuDerecha">
            <span class="icon-perfil" aria-hidden="true"></span>
        </a>
    </li>
     <!-- Notificaciones y mensajes-->
    <!--<li id="itemMensajes"
        tabindex="16"
        class="boton-cabecera">
        <a  data-toggle="dropdown"
            id="btnMensajes"
            href=""
            class="botonesMenuDerecha"
            data-ng-click="inicioCtrl.showHideResponsive()">
            <i class="icon-mensajes-correos" aria-hidden="true"></i>
            <span class="notificacion-burbuja">{{numeroNotificaciones.numero}}</span>
        </a>
        <ul  data-ng-style="model.estilo" class="dropdown-menu listaNotificaciones"  role="button" data-menu-notificaciones="menunotificaciones">
     </ul>
    </li>
    -->
    <!-- Idioma-->
    <li id="itemIdioma"
        class="dropdown"
        tabindex="16">
        <a  data-toggle="dropdown"
            role="button"
            data-ng-click="inicioCtrl.showHideResponsive()"
            class="botonesMenuDerecha ">
            <span>{{inicioCtrl.lenguajeActual | uppercase}}</span>
           <i  class="icon-internacionalizacion-idiomas "></i>
        </a>
        <ul class="dropdown-menu menuIdioma">
            <li  tts="{{ttsEnabled}}" data-ng-show="inicioCtrl.lenguajeActual != 'es'">
                <a data-ng-click="switchLanguage('es');inicioCtrl.setIdioma('es');inicioCtrl.colapsarBarra()"  role="button">
                    <strong  class="color-texto" data-translate>APP.OPCION.LENGUA_ESPANIOL</strong>
                </a>
            </li>
            <li  tts="{{ttsEnabled}}" data-ng-show="inicioCtrl.lenguajeActual != 'en'">
                <a data-ng-click="switchLanguage('en');inicioCtrl.setIdioma('en');inicioCtrl.colapsarBarra()"  role="button">
                    <strong  class="color-texto" data-translate>APP.OPCION.LENGUA_INGLES</strong>
                </a>
            </li>
        </ul>
    </li>
    <!-- Salir-->
    <li id="itemSalir"
        tabindex="17"
        class="dropdown">
        <a  data-ng-click="inicioCtrl.salirSistema();inicioCtrl.colapsarBarra()"
            role="button"
            class="botonesMenuDerecha">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </li>
</ul>
 <!-- Datos Usuario-->
<p  class="navbar-text pull-right userInfo alineacion-userInfo">
         <span data-translate>{{inicioCtrl.usuario.name}}</span><br>
         <span data-translate>{{inicioCtrl.usuario.email}}</span>
</p>
