<seccion class="main-header">
     <a class="sidebar-toggle icon-hamburguesa"
        data-ng-click="inicioCtrl.colapsarMenu()"
        role="button">
        <span class="sr-only"/>
    </a>
    <a  class="navbar-brand"
        rel="home"
        data-tooltip="Participación Ciudadana">
         <img   class="logo img-responsive"
                alt="Logo Participación Ciudadana"
                src="recursos/imagenes/logo.png"/>
    </a>
    <a href="" class="right_bar icon-perfil-hamburguesa" data-ng-click="inicioCtrl.colapsarBarra()" role="button">
        <span class="sr-right"/>
    </a>
</seccion>
<seccion id="cabecera-botones" data-ng-include="'recursos/paginas/sitio-cabecera-botones.html'" ></seccion>